.App {
  display: flex;
  align-items: left;
  justify-content: center;
  flex-direction: column;
  width: 100vw;
}

.paginationBttns {
  width: 80%;
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
}

.paginationBttns a {
  padding: 5px;
  margin-left: 10px;
  border-radius: 8px;
  border: 1px solid #2b2eff;
  color: #2b2eff;
  cursor: pointer;
  text-decoration: none;
}

.paginationBttns a:hover {
  color: white;
  background-color: #2b2eff;
}

.paginationActive a {
  color: white;
  background-color: #2b2eff;
}

.paginationDisabled a {
  color: grey;
  background-color: grey;
}
